@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
    max-width: 1000px;
  }
  body{
    background-color: #e3f2fc;
    overflow-x: hidden;
  }

}

@layer components{
  .btn-primary {
    @apply bg-blue-100 text-black font-bold py-2 px-4 rounded;
  }
  .field{
    @apply w-full border border-blue-900 rounded py-2 px-4 mr-10 my-3 ;
  }
}

